.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--main-color);
    padding: 0.5rem 1rem;
}

.bxl-trello {
    color: #fff;
    font-size: 2rem;
}